[submodule "Deployment_HuggingFace_Streamlit_JPX14032025"]
	path = Deployment_HuggingFace_Streamlit_JPX14032025
	url = https://github.com/ArchismanKarmakar/Tachygraphy-Microtext-Analysis-And-Normalization-Deployment-Source-HuggingFace_Streamlit_JPX14032025.git
